<div class="row">
    <div class="col-12">
        <div class="card card-body">
            <h4 class="card-header">Estudiantes</h4>
            <br>
            <h5 class="card-subtitle">Aqui se muestra el listado de estudiantes</h5>
            <div class="d-flex mb-3 mt-3">
                <input type="text" class="form-control w-25" placeholder="Busca por nombre"[(ngModel)]='searchTerm'>
                <button class="btn btn-primary ms-auto"></button>
            </div>
            <div class="table-responsive table-bordered">
                <table class="table table-stripped mb-0 no-wrap alling-middle">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Materia 1</th>
                            <th scope="col">Materia 2</th>
                            <th scope="col">Materia 3</th>
                            <th scope="col">Materia 4</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of studentsList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                            <td class="text-center">
                                {{student.name}}
                            </td>
                            <td>
                                {{student.lastName}}
                            </td>
                            <td>
                                {{student.age}}
                            </td>
                            <td>
                                <div class="d-flex allign-items-center">
                                    <div class="ms-3">
                                        <p class="font-medium mb-0">{{student.subject1}}</p>
                                        <small>{{student.literal1}}</small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex allign-items-center">
                                    <div class="ms-3">
                                        <p class="font-medium mb-0">{{student.subject2}}</p>
                                        <small>{{student.literal2}}</small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex allign-items-center">
                                    <div class="ms-3">
                                        <p class="font-medium mb-0">{{student.subject3}}</p>
                                        <small>{{student.literal3}}</small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex allign-items-center">
                                    <div class="ms-3">
                                        <p class="font-medium mb-0">{{student.subject4}}</p>
                                        <small>{{student.literal4}}</small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex allign-items-center">
                                    <div class="ms-3">
                                        <button class="btn btn-outline-success" (click)="showStudent(student)">Detalles</button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex allign-items-center">
                                    <div class="ms-3">
                                        <button class="btn btn-outline-danger" (click)="deleteStudent(student)">Eliminar</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>