<div class="row">
    <form>
      <div class="col-12">
        <div class="card card-body">
            <h4 class="card-header">Historial asistencia</h4>
            <br>
            <h5 class="card-subtitle">Aqui se puede ver el historial de asistencias</h5>
            <div class="d-flex mb-3 mt-3">
            </div>
            <div class="table-responsive table-bordered">
                <table class="table table-stripped mb-0 no-wrap alling-middle">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">Fecha</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let attendance of attendanceList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                            <td class="text-center">
                                {{attendance.date}}
                            </td>
                            <td>
                                {{attendance.total}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>
    </form>
  </div>
